@import "tailwindcss";

/* SAKELAR UTAMA MODE GELAP UNTUK TAILWIND VERSI 4 */
@custom-variant dark (&:is(.dark *));

/* Desain Teks Arab agar tetap besar dan cantik */
.teks-arab-besar {
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-family: 'Amiri', 'Traditional Arabic', serif;
}

/* Desain Scrollbar agar elegan */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 10px;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #475569;
}

/* --- LOGIKA CETAK BUKTI UJIAN (PRINT MEDIA) --- */
@media print {
  body * {
    visibility: hidden; /* Sembunyikan semua elemen web */
  }
  .area-cetak, .area-cetak * {
    visibility: visible; /* Hanya tampilkan area sertifikat */
  }
  .area-cetak {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: none !important;
    border: none !important;
    background: white !important;
    color: black !important;
  }
  .no-print {
    display: none !important; /* Sembunyikan tombol saat dicetak */
  }
}